.heading{
    font: 200;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    color: rgb(226, 223, 43);
    background-color: rgb(42, 130, 165);
    width: 100%;
    margin: auto;
    padding-left: 35%;
}
button{
    margin-left: 570px;
}

.cards {
    display: flex;
   flex-wrap: wrap;  
}

body{
    width: 100%;
}
