.form{
    width: 500px;
    margin: auto;
}
.button{
    width: 60px;
    margin: auto;
}

.resultsContainer {
    display: flex;
   flex-wrap: wrap;
   overflow: hidden;
}

body{
    width: 100%;
   
    margin-right: 0px;
    
}